<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>c1</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Mark</th>
            <th>Model</th>
            <th>Color</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.mark}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>